*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: chocolate;
    height: 150px;
}

.sabores{
    color: aliceblue;
    text-align: center;
}


@media screen {
    
}